redcomp -top system
redcomp -distributed
redcomp -debug_file ./probe.tcl
redcomp -tcl_force_file ./force.tcl

redcomp -set_module_blackbox uart_16550
redcomp -set_module_blackbox atg_uart_init

partition -phd_file ./board/b10_hardware.phd
partition -rdc_file ./constraints.rdc
partition -wrap_settings_file ./wrap_settings.tcl


part source ./partassign.tcl

rtlc -allow_4ST
rtlc -allow_IVM
rtlc -fpga_force_parammem

##route dont_use_empty_fpga
route redmem_auto_perf_model_selection true
##route disable_redmem_uram_inference -redmem_name {RED_PARAM_MEM_rtlc8014_10_1024_5_0_1_1_post_qualify_model}

distrib -distrib_flow machlist -tag distrib_all
distrib -mf ./machine.list -tag distrib_all
distrib -task all -tag distrib_all
distrib -launcher rtlc -tag distrib_all
velcomp -rtlc_advisor_options "-disable_fpga_dl_flow"
velcomp -rtlc_advisor_options "-fpga_no_hangingto_const0"
##route enable_redmem_data_sync

wrap add_vivado_command_files -task pnr -file ./disable_multithreading.tcl
